# Ignorar pastas
.lixeira/
.venv/
.venv-1/
.vscode/
BD/
e-lib/uploads/

# Ignorar a pasta 'logs' em qualquer nível do projeto
logs/

# Ignorar uma pasta específica dentro de um subdiretório
E.S - TP1/BD/