.admin-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

.admin-content {
  flex: 1;
  padding: 24px;
  background-color: #f5f5f5;
  overflow-y: auto;
}
